<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kangxiao.autosize">

    <application>
        <provider
            android:authorities="${applicationId}.autosize-init-provider"
            android:name="com.kangxiao.autosize.InitProvider"
            android:exported="false"
            android:multiprocess="true"/>
    </application>
</manifest>